.padding{
    padding-top: 3rem !important;
}

.card-shadow{
    border-radius: 20px;
    border: none;
    box-shadow: rgba(48, 5, 51, 0.25) 0px 54px 55px, rgba(24, 9, 92, 0.815) 0px -12px 30px, rgba(119, 93, 214, 0.863) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow: hidden;
   
}
.card-img-top{
    height:150px;
}

.pro-img {
    margin-top: -80px;
    margin-bottom: 20px
}
.little-profile{
    background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.little-profile .pro-img img {
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    

    
}

.little-profile p{
    margin: 0;
    
}
.active{
    color: rgba(5, 128, 52, 0.932);
}