.main-form{
    width: 45%;
    margin: auto;
}
.seat-form{   
    max-height: 450px;
    margin-top: 20px;
}

.seat-form::-webkit-scrollbar{
    display: none;
}

.status-alert{
    position: absolute;
    top: 0;
    right: 10px;
}